@model IEnumerable<AditiBeautyCare.Web.UI.Models.BeautyCareService.BeautyCareServiceModel>
@{
    ViewData["Title"] = "Services";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="text-center mt-4">
        <h1> OUR SERVICES </h1>
    </div>
    <div class="container mt-5">
        <div class="row">

            @foreach (var services in Model)
            {
                <div class="col-sm-4">
                    <div class="container mt-3">
                        <div class="card">
                            <img src="~/Image/@services.ImageUrl" alt="@services.Description">
                            <div class="m-3">
                                <h3 hidden>Service ID:@services.Id</h3>
                                <h3>Service Name:@services.Name</h3>
                                <h5>Duration:@services.Duration</h5>
                                <h5>Price: @services.Price</h5>
                                <a class="btn btn-lg  mt-2 text-white" asp-action="BookService" asp-route-id="@services.Id" style="background-color: #102c44;">
                                    Book Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>