@model IEnumerable<AditiBeautyCare.Web.UI.Models.BeautyCareService.BeautyCareServiceModel>
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: 'Times New Roman';
        }
    </style>
</head>
<body>

    @if (ViewBag.IsSuccess != null && ViewBag.IsSuccess)
    {
        <div class="alert alert-success d-flex align-items-center" id="snackbar" role="alert">
            <div>
                <strong>Congratulations!</strong> Your Booking is successful
            </div>
        </div>

    }
    <div class="text-center mt-4">
        <h1> OUR SERVICES </h1>
    </div>
    <div class="container mt-5">
        <div class="row">

            @foreach (var services in Model)
            {
                <div class="col-sm-4">
                    <div class="container mt-3">
                        <div class="card">
                            <img src="@Url.Content(services.FilePath)" alt="@services.Description" height="300px">
                            <div class="m-3">
                                <h3 hidden>Service ID:@services.Id</h3>
                                <h3>Service Name:@services.Name</h3>
                                <h5>Duration:@services.Duration</h5>
                                <h5>Price: @services.Price</h5>
                                <a class="btn btn-lg  mt-2 text-white" href="@Url.Action("BookService","BeautyCareService",new { Id =@services.Id,ServiceName=@services.Name})" style="background-color: #102c44;">
                                    Book Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
    <br />
    <br />

</body>