@model IEnumerable<AditiBeautyCare.Web.UI.Models.BeautyCareService.BeautyCareServiceModel>
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: 'Times New Roman';
        }
    </style>
    @*<script>
var page=1;
window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
           ifrm = document.createElement("IFRAME");
        ifrm.setAttribute("src", page+".html");
        ifrm.style.width = 100+"%";
        ifrm.style.height = 800+"px";
        document.body.appendChild(ifrm);
        page++
    }
};
    </script>*@
    @*<script>
        function passvalues(Name)
        {
            /*document.getElementById("servname").value = Name;*/
            var name = document.getElementById("servname").value;
            
            localStorage.setItem("model.name", name);
            return false;
        }
    </script>*@
</head>
<body>
    <div class="text-center mt-4">
        <h1> OUR SERVICES </h1>
    </div>
    <div class="container mt-5">
        <div class="row">

            @foreach (var services in Model)
            {
                <div class="col-sm-4">
                    <div class="container mt-3">
                        <div class="card">
                            <img src="~/Image/@services.ImageUrl" alt="@services.Description" height="300px" >
                            <div class="m-3">
                                <h3 hidden>Service ID:@services.Id</h3>
                                <h3>Service Name:@services.Name</h3>
                                <h5>Duration:@services.Duration</h5>
                                <h5>Price: @services.Price</h5>
                                <a class="btn btn-lg  mt-2 text-white"  href="@Url.Action("BookService","BeautyCareService",new { Id =@services.Id,ServiceName=@services.Name})" style="background-color: #102c44;">
                                    Book Now
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br>
</body>