
@{
    ViewData["Title"] = "GetInTouch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    
</head>
<body>
    <div id="getintouch">
        @Html.Partial("_GetInTouch")
        <br/>
        <br/>
    </div>
</body>
</html>
