@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">This is Home Contrloller</h2>
    <a asp-controller="Sample" asp-action="Index"><h1>Go to Sample Controller</h1></a>
</div>



