* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}
.logo {
    background-color: lightcyan;
}

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: inherit !important
}

#MessageViewBody a {
    color: inherit;
    text-decoration: none
}

p {
    line-height: inherit
}

@media (max-width:520px) {
    .row-content {
        width: 100% !important
    }

    .image_block img.big {
        width: auto !important
    }

    .column .border {
        display: none
    }

    table {
        table-layout: fixed !important
    }

    .stack .column {
        width: 100%;
        display: block
    }
}
